@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');

body{
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
    background: #201b2c;
    color: #77ffc0;
}

body *{
    box-sizing: border-box;
}

.sidebar{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 240px;
    height: 100%;
    padding: 40px 10px 30px 10px;
    border-right: 1px solid  #2f2841;
}
.sidebar-header{
    width: 100%;
    margin-bottom: 16px;
}

.perfil-img{
    margin-left: 10px;
    width: 50px;
    min-height: 50px;
    border-radius: 50%;
    border: #2f2841 solid 2px;
    transition: transform 0.4s;
}
.perfil-img:hover{
    transform: scale(1.5);
}

.sidebar button{
    height: 60px;
    background: transparent;
    border: 0;
    font-family: inherit;
    color: inherit;
    cursor: pointer;
    text-align: left;
    padding: 0;
    transition: all 0.35s;
}

.sidebar button > span{
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0 16px 0 12px;
    border-radius: 24px;
    line-height: 1;
    transition: all 0.2s;
}

.sidebar button:hover > span{
    background: #2f2841;
}
.sidebar button i{
    position: relative;
    font-size: 28px;
    transition: 0.2s;
}

.sidebar button span{
    font-size: 16px;
}

.sidebar > nav{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.main{
    margin-left: 250px;
    margin-right: 6px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.home h1{
    margin:0;
    font-size: 25px;
}
.ticket{
    background-color: #2f2841;
    border-radius: 10px;
    overflow: hidden;
    width:400px;
    max-width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.novoTicket{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.form{
    padding: 20px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}
.form-control label{
    display: inline-block;
    margin-bottom: 5px;
}
.form-control input, .form-control textarea  {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
}
  .form-control i {
    position: absolute;
    top: 40px;
    right: 10px;
    visibility: hidden;
  }

.form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.sucess input, .form-control.sucess textarea{
    border-color: #2ecc71;
  }
  .form-control.error input, .form-control.error textarea{
    border-color: #e74c3c;
  }
  
  .form-control.sucess i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  .form-control.error small {
    color: #e74c3c;
    visibility: visible;
  }

  .form button {
    background-color: #00ff88;
    border: 2px solid #00ff88;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
  }

@media only screen and (max-width: 920px){
    .sidebar{
        width: 72px;
    }

    .sidebar button > span{
        width: 50px;

    }
    .sidebar button > span > span{
        opacity: 0;
        visibility: hidden;
        
    }
    .main{
        transition: margin 0.4s;
        margin-left: 80px;   
    }
}

.mobile{
    display: none;
    align-self: flex-start;
    align-items: center;
    margin: 16px;
    background: transparent;
    color: #77ffc0;
    border: 0;
}

.mobile span{
    font-size: 19px;
    margin-left: 8px;
}

.menu-mobile{
    display: none;
}

.menu-mobile-active{
    width: 100vw;
    height: 100vh;
    background-color: #2f2841 ;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    overflow: hidden;
}
.menu-mobile-active button{
    background: transparent;
    border: 0;
    color: inherit;
    margin-bottom: 16px;
}
.menu-mobile-active button > span{
    display: inline-flex;
    align-items: center;
}

.mobile-text{
    font-size: 22px;
    margin-left: 8px;

}

#close span i{
    font-size: 32px;
}

@media only screen and (max-width: 480px){
    .sidebar{
        display: none;
    }

    .mobile{
        display: flex;
    }
    .main{
        margin-left: 6px;
    }
}
.home img{
    width: 70vw;
    height: 60vh;
    margin-left: 10vw;
}

.painel{
    min-height: 100vh;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color:#2f2841;
    box-shadow: 0 .4rem .8rem #00000056;
    border-radius: .8rem;
    overflow: hidden;
}
.cabecalho{
    width: 100%;
    height: 10%;
    background-color: #fff4;
    padding: .8rem 1rem;
    text-align: center;
}
.corpo{
    width: 95%;
    height: (89% - .8rem);
    background-color: #fff4;
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.corpo::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.corpo::-webkit-scrollbar-thumb{
   border-radius: .5rem;
   background-color: #0004;
   visibility: hidden;
}

.corpo:hover::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: visible;
 }


table, th,td{
    padding: 1rem;
    text-align: center;
}