<html>

<head>​
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <link rel="stylesheet" href="/style-home.css">
    <title>HelpDesk</title>​
</head>​

<body>​
    <center> ​
        <aside class="sidebar">
            <a href="/home">
                <button class="item-menu" id="btHome"><i class="material-symbols-outlined">home</i>Página
                    Inicial</button>
            </a>​
            <a href="/ticketCreate">
                <button class="item-menu" id="cadTicket"><i class="material-symbols-outlined">add</i>Cadastrar
                    Ticket</button>
            </a>​
            <a href="/ticketList">
                <button class="item-menu" id="tickets"><i class="material-symbols-outlined">lists</i>Tickets</button>
            </a> ​
            {{#if adm}}
            <a href="/categoriaCreate">
                <button class="item-menu" id="cadCategoria"><i class="material-symbols-outlined">shadow_add</i>Cadastrar
                    Categoria</button></a>​
            <a href="/usuarioList"><button class="item-menu" id="cadTecnico"><i
                        class="material-symbols-outlined">person_add</i>Cadastrar
                    Técnico</button> </a>​
            {{/if}}
            <a href="/logout">
                <button class="item-menu"><i class="material-symbols-outlined">logout</i>Logout</button></a>
        </aside>
        <main class="main" id="main">
            <div class="home" id="home">
                <h1>Bem vindo ao portal de suporte, crie um novo ticket ou acompanhe os existentes</h1>​
                <img class="fundo" src="images/fundo.svg" alt="fundo">
            </div>
            <br> <br>​
        </main>​
        {{{body}}}
    </center>
</body>
</html>