
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;700&family=Roboto+Mono:wght@400;700&display=swap');
/*LOGIN*/
body{
    margin: 0;
    font-family: 'Roboto Mono', sans-serif;
    background: #201b2c;
    color:#77ffc0;
}

body *{
    box-sizing: border-box;
}
.main-login{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.left-login > h1{
    font-size: 2vw;
    color: #77ffc0;
}
.left-login-img{
    width: 35vw;
}
.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}    
.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background: #2f2841;
    border-radius: 20px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1{
    color: #00ff88;
    font-weight: 800;
    margin: 0;
}
.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 10px 0px;
}
.textfield > input{
    outline: none;
    width: 100%;
    border: none;
    border-radius: 10px;
    padding: 15px;
    background: #514869;
    color: #f0ffffde;
    font-size: 12pt;
    box-shadow: #00000056;
    box-sizing: border-box;
}
.textfield > input::placeholder{
    color: #f0ffff94;
}
.textfield > label{
    color: #f0ffffde;
    margin-bottom: 10px;
}
.btn-login{
    width: 100%;
    padding: 16px 0px;
    margin: 25px 0px 0px;
    border: none;
    border-radius: 8px;
    outline: none;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 3px;
    color: #2b134b;
    background: #00ff88;
    cursor: pointer;
    box-shadow: 0px 10px 40px -12px #00ff8052;
}

.card-login > p{
    color: #77ffc0;
}

.card-login > p > a{
    color: white;
}

@media only screen and (max-width: 950px){
    .card-login{
        width: 85%;
    }
}
@media only screen and (max-width: 600px){
    .main-login{
        flex-direction: column;
    }
    .left-login > h1{
        display: none;
    }

    .left-login{
        width: 100%;
        height: auto;
    }
    .right-login{
        width: 100%;
        height: auto;
    }
    .left-login-img{
        width: 80vw;
    }
}
/*NOVA CONTA*/
.container{
    border-radius: 10px;
    background-color: #2f2841;
    /*box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);*/
    width:400px;
    max-width:100%;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  h2{
    text-align: center;
  }
  .header{
    padding: 20px;
    justify-content: center;
    align-items: center;
  }
  .form{
    padding: 20px;
  }
  .form-control {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .form-control label {
    display: inline-block;
    margin-bottom: 5px;
    display: flex; 
    align-items: flex-start;
  }
  
  .form-control input {
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 10px;
    font-size: 14px;
    width: 100%;
    padding: 10px;
  }
  
  .form-control i {
    position: absolute;
    top: 35px;
    right: 10px;
    visibility: hidden;
  }
  
  .form-control small {
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
  }
  
  .form-control.sucess input {
    border-color: #2ecc71;
  }
  .form-control.error input {
    border-color: #e74c3c;
  }
  
  .form-control.sucess i.fa-check-circle {
    color: #2ecc71;
    visibility: visible;
  }
  .form-control.error i.fa-exclamation-circle {
    color: #e74c3c;
    visibility: visible;
  }
  .form-control.error small {
    color: #e74c3c;
    visibility: visible;
  }
  .form button {
    background-color: #00ff88;
    border: 2px solid #00ff88;
    color: #fff;
    font-size: 14px;
    width: 100%;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    color: #2b134b;
    box-shadow: 0px 10px 40px -12px #00ff8052;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
  }
